h1 {
    color: red;
}

.nav-top {
    height: 50px;
    background-color: red;
    /* margin: 0 auto; */
}

.nav-ul {
    list-style: none;
    margin: 0 auto;
    padding-top: 15px;
}

#brand {
    float: left;
}

.nav-li {
    float: right;
    text-transform: uppercase;
    margin-right: 2em;
}

.sidebar, .nav-sidebar {
    float: left;
}

nav .sidebar {
    display: inline-block;
}

.nav-sidebar-li {
    text-transform: uppercase;
    margin-top: 20px;
    list-style: none;
}